.Review_main_div h1{
    font-size: 3rem;
    background-color: var(--main-color);
    padding: 0px 12px;
}
.Review_main{
    font-family: var(--main-font);
    background-color: rgb(9 9 9);
}
.review_class_image{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-top: -50px;
    border: 10px solid var(--main-color);
}
.review_card{
    margin: 0px 30px;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(26 25 25);
    box-shadow: 0px 0px 40px #282626;
    border-radius: 12px;
}
.review{
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 27px;
}
.fa-star{
    color: gold;
    margin: 0px 2px;
    text-shadow: .2px .2px 1px white;
}
.review_div{
    margin : 6rem 0rem;
    border-top: 5px solid orangered;
}
.name{
    font-size:23px;
    color: orangered;
    font-weight: bolder;
}
.review_div2{
    margin-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_heading_review{
    margin-bottom: 6rem;
}

@media screen and (max-width: 1107px) {
    .review_card{
        height: 317px;
    }
}
@media screen and (max-width: 1016px) {
    .review_card{
        margin: 0px 10px;
    }
    .review{
        margin-top: 20px;
        padding: 10px 37px;
    }
}
/* @media screen and (max-width: 882px) {
    .review_card{
        height: 470px;
    }
} */
@media screen and (max-width: 994px) {
    .review_div2{
        flex-direction: column;
        margin-top: 0rem;
    }
    .review_card{
        margin-top: 100px;
        height: 331px;
    }
    .main_heading_review{
        margin-bottom: -30px;
    }
    .Review_main{
        margin-top: 4rem;
    }
}
@media screen and (max-width: 553px) {
    .review_card{
        width: 400px;
    }
}
@media screen and (max-width: 416px) {
    .review_card{
        width: 340px;
    }
}