.Calc_main_div aside {
    font-family: var(--main-font);
    font-size: 3rem;
    margin: 4rem 0rem 2rem 0rem;
}

.text3 {
    line-height: 33px;
}

.Calc_card {
    margin: 4rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    background-color: rgb(26 25 25);
    box-shadow:  0px 0px 40px #282626;
}

.Calc_card div {
    font-family: var(--main-font);
}

.Calc_section {
    display: flex;
    padding: 0px 1rem;
    justify-content:space-between;
    margin: 10px -10px;
    width: 100%;
}
.Calc_section input {
    padding: 1rem;
    
}

.Calc_section select {
    padding: 1rem 0rem;
    font-family: var(--main-font);
    font-size: 1rem;
}

.Calc_section div {
    margin-right: 3rem;
    font-size: 1.5rem;
}
  

.text12 {
    padding: 1rem 0rem;
    font-size: 3rem;
    color: var(--main-color);
}

.Calculate {
    font-size: 2rem;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 1px 2rem;
    margin: 1rem 0rem;
    font-family: var(--main-font);
}

.height_input::placeholder{
    font-family: var(--main-font) ;
}

@media screen and (max-width: 1252px) {
    .Calc_card {
        margin: 3rem 18px;
    }
}
@media screen and (max-width: 1084px) {
    .Calc_card {
        margin: 3rem 8px;
    }
}
@media screen and (max-width: 852px) {
    .Calories_card{
        flex-direction: column;
    }
    .input1, .input2 {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .Calculate {
        font-size: 1.5rem;
    }
    .Calc_section input {
        padding: .5rem;
    }
}
@media screen and (max-width: 796px) {
    .Calc_card {
        margin: 3rem 2px;
    }
}
@media screen and (max-width: 723px) {
    .Calc_main_div aside{
        flex-direction: column;
    }
    .Calc_main_div aside div:nth-of-type(2){
        margin-top: -5rem;
    }
}
@media screen and (max-width: 512px) {
    .Calc_section div {
        margin-right: 3rem;
        font-size: 1rem;
    }
    .Calc_section select {
        font-size: 1rem;
    }
    .text12{
        font-size: 2rem;
    }
    .Calc_section {
        margin: 1rem 0rem;
    }
}
@media screen and (max-width: 411px) {
    .Calc_card{
        margin: 10px 1rem;
    }
}
@media screen and (max-width: 393px) {
    .Calc_card{
        margin: 10px 0rem;
    }
}