.Trainer_main {
    background-color: rgb(9 9 9);
    padding: 4rem 0rem;
}

.Trainer_main_div {
    font-size: 3rem;
    font-family: var(--main-font);
}

.color2 {
    background-color: var(--main-color);
    padding: 0px 10px;
}

.Trainer_card img {
    width: 194px;
    height: 200px;
    margin-top: 2rem;
    border-radius: 100px;
    border: 6px solid var(--main-color);
}

.Trainer_card {
    margin: 3rem 2rem 0rem 2rem;
    background-color: rgb(26 25 25);
    box-shadow:  0px 0px 12px #282626;
}

.text2 {
    margin: 1rem 1rem;
}
.text3{
    margin: .5rem 14rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 23px;
}
.input1 , .input2{
    padding: 1rem;
    font-family: var(--main-font);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
}

@media screen and (max-width: 1084px) {
    .Trainer_main_div {
        font-size: 3rem;
    }
}
@media screen and (max-width: 700px) {
    .Trainer{
        flex-direction: column;
    }
}
@media screen and (max-width: 490px) {
    .text2 {
        margin: 1rem 2rem;
    }
    .Trainer_main_div {
        font-size: 2.5rem;
    }
}